<h1>Hello, <%= name %>!!!!!</h1>

<h3>Food <%= get('food') %></h3>
<h3>Health <%= get('health')%></h3>
<h3>Sleep <%= get('sleep') %></h3>
<h3>Happy <%= get('happy') %></h3>

<form class="" action="/change" method="get">
  <input type="submit" name="food" value="food">

  <br>
  <input type="submit" name="health" value="health">

  <br>
  <input type="submit" name="sleep" value="sleep">

  <br>
  <input type="submit" name="happy" value="happy">

</form>
